<!-- <h1>this is the index placeholder <h1> -->
<div class = "col-md-offset-0">
	<div id="pins" class="transitions-enabled infinite scroll centered clearfix">
		<!-- list out all PINS -->
			<% @pins.each do |pin| %>
				<div class="box panel panel-default">
						<%= link_to (image_tag pin.image.url), pin %>
						<h2><%= link_to pin.title, pin %></h2>
						
						<p class="user">Submitted by: 
							<% if pin.user.username == nil%>
								<%= pin.user.email %>
							<% else %>
								<%= pin.user.username%>
							<% end %>
							<div class ="btn-group pull-right">
								<span class = "glyphicon glyphicon-heart"><%= pin.get_upvotes.size%>
							</div>
						</p>
				</div>
			<% end %>
	</div>
</div>


<ul>
<li>

</ul>