<!-- <h1>this is the index placeholder <h1> -->
<!-- <div class = "container">
<div class = "col-md-offset-0"> -->
		<!-- list out all PINS -->
			<% @pins.each do |pin| %>
	<div id="pins" class="transitions-enabled infinite scroll centered clearfix">

<!-- display user info -->
				<div class="box panel panel-default">

					
						<%= link_to (image_tag pin.image.url), pin %> 

						<h2><%= link_to pin.title, pin %></h2>
						<h4><%= pin.description.first(120) %></h4>
						
						<p class="user">Submitted by: 
							<% if pin.user.username == nil%>
								<%= pin.user.email %>
							<% else %>
								<%= link_to pin.user.username, pin.user%>
							<% end %>
							<div class ="btn-group pull-right">
								<span>
					              <i class="fa fa-comments-o"></i>
					              <%= pin.comments.count %>
					            </span>
					            <span>
					              <i class="fa fa-thumbs-o-up"></i>
					              <%= pin.get_likes.size %>
					            </span>
							</div>
						</p>
				</div>
				<% end %> 

</div>

			
	
<!-- </div>
</div> -->



