<p id="notice"><%= notice %></p>


<div class ="container">






<% @users.each do |user| %>
<%= link_to user do %>
<div class="flip-container" id="dean">
    <div class="flip-card">
      <!-- FRONT FACE -->
    <div class="front face">
      <% if user.avatar.present?%>
          <%= image_tag(user.avatar, class: "indexprofileimg") %>
      <% else %>
         <img src = "../../assets/gravatar.jpg" class = "indexprofileimg">
      <% end %>
    </div>

  <!-- BACK FACE -->
    <div class="back face">
      <h5> <%= user.username %> </h5>
      <% if user.content.present? %>
        <p><%= user.content %></p>
      <% else %>
      <p> <%= "Woops. Nothing here." %>
        <% end %>
    </div>

  </div>
</div>
<% end %>
<% end %>
