

<div class="content-profile-page">
	


   <div class="profile-user-page card">
   	<!-- Profile image and Background photo -->
  <% if @user == current_user %>  
      <%= link_to(edit_user_registration_path) do %>
        <div class="img-user-profile">

      <!-- Background photos -->
            <% if @user.bgphoto.present? %>
              <%= image_tag(@user.bgphoto.url(:normal), class: "profile-bgHome") %>
            <% else %>
                <img class="profile-bgHome" src="https://download.unsplash.com/reserve/AXx3QORhRDKAMrbb8pX4_photo%202.JPG" />
            <% end %>
               <i class="fa fa-pencil-square-o" style = "position:absolute;"></i>



      <!-- Avatar photos -->
            <% if @user.avatar.present?%>
                <%= image_tag(@user.avatar.url(:thumb), class: "avatar") %>
            <% else %>
                <img src = "../../assets/gravatar.jpg" class = "avatar">
            <% end %>

      <% end %>
          
       </div>


  <% else %>
    <!-- Background photos -->
          <% if @user.bgphoto.present? %>
            <%= image_tag(@user.bgphoto.url(:normal), class: "profile-bgHome") %>
          <% else %>
              <img class="profile-bgHome" src="https://download.unsplash.com/reserve/AXx3QORhRDKAMrbb8pX4_photo%202.JPG" />
          <% end %>
             <i class="fa fa-pencil-square-o" style = "position:absolute;"></i>



    <!-- Avatar photos -->
          <% if @user.avatar.present?%>
              <%= image_tag(@user.avatar.url(:thumb), class: "avatar") %>
          <% else %>
              <img src = "../../assets/gravatar.jpg" class = "avatar">
          <% end %>

  <% end %>




     <!-- Follower user -->
     <% unless @user == current_user %>
          <button>Follow</button>
     <% end %>




    <!-- Profile Description -->
          <br>
          <br>
          <div class="user-profile-data">
            <h1> </h1>
            <p> 
              <% if @user.tagline.present?%>
                <%= @user.tagline%> 
              <% else %>
                <% if @user == current_user %>
                  <%= link_to "Write Something", edit_user_path(@user)%>
                <% else %>
                  Nothing to See!
                <% end %>
              <% end %> 
              </p>
          </div> 



          <div class="description-profile"> 
            <% if @user.content.present?%>
                <%= @user.content%> 
            <% else %>
                <% if @user == current_user %>
                    <%= link_to "Write Something", edit_user_path(@user)%>
                <% else %>
                    No content yet...
                <% end %>
            <% end %> 
          </div> 
          <br>





	<!-- User stats: followers, following, pins-->
       <ul class="data-user">
        <li><a><strong><%= @user.pins.count %></strong><span>Memes</span></a></li>
        <li><a><strong><%= @user.comments.count %></strong><span>Comments</span></a></li>
        <li><a><strong> 500 </strong><span>Following</span></a></li>
       </ul>
      </div>
    </div>
</div>



  <!-- need to iterate... -->
<div class = "container">  
  <div class ="col-md-6 col-md-offset-5">
    <h1> <b>Dumo of the day<b> </h1>
    <br>
  </div>
  <div class ="col-md-6 col-md-offset-6">
    <%= (image_tag(@user.pins.first.image.url(:thumb))) %>
  </div>
</div>  


